@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: 'Inter';
  src: url('../src/assets/fonts/Inter-Regular.ttf'), format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../src/assets/fonts/Inter-Medium.ttf'), format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../src/assets/fonts/Inter-SemiBold.ttf'), format('truetype');
  font-weight: 600;
  font-style: normal;
}

* {
  transition: all ease-out 200ms;
}

.no-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  position: relative;
  right: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #b8b6b6;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aca9a9;
}
